requests>=2.32.3
ollama>=0.1.0
fastapi>=0.68.0
uvicorn>=0.15.0
python-multipart>=0.0.5
pydantic>=1.8.0
bcrypt>=3.2.0
mysql-connector-python>=8.0.31
lxml>=5.3.0
python-dotenv>=1.0.0
asyncio>=3.4.3
flask>=2.0.0
python-jose>=3.3.0
anyio>=4.0.0
openai>=1.0.0
langchain>=0.3.22
langchain-ollama>=0.3.0