/* 基础样式 */
body {
    display: flex; /* 使用flex布局，允许子元素灵活排列 */
    flex-direction: row; /* 子元素水平排列 */
    background-color: white; /* 设置背景颜色为白色 */
    min-height: 100%; /* 使整个视口高度 */
    transition: background-color 0.3s, color 0.3s; /* 背景色和文字颜色变化的过渡效果 */
    margin: 0; 
    padding: 0;
}

/* 按钮样式 */
.button {
    background-color: #007bff; /* 按钮背景色 */
    color: white; /* 按钮文字颜色为白色 */
    border: none; /* 取消边框 */
    padding: 10px; /* 上下10px，左右20px */
    border-radius: 5px; /* 圆角效果 */
    cursor: pointer; /* 鼠标指针变为手形 */
    transition: background-color 0.3s; /* 背景颜色变化的过渡效果 */
}

.button:hover {
    background-color: #0056b3; /* 鼠标悬停时改变背景颜色 */
}
h2{ 
    margin: 5.5px 0; /* 标题的上下边距 */
}
/* 侧边栏样式 */
.sidebar {
    display: flex; /* 使用flex布局以便于内容排列 */
    flex-direction: column; /* 垂直排列侧边栏内的元素 */
    align-items: center; /* 垂直居中对齐侧边栏内的元素 */
    background-color: black; /* 侧边栏背景色为黑色 */
    min-height: 100%; /* 侧边栏高度占满整个视口 */
    width: 16px; /* 默认宽度为20% */
    transition: width 0.3s, opacity 0.3s; /* 侧边栏收起时的动画效果 */
}

.sidebar.open {
    width: 30%; /* 收起后的宽度为40px */
}

/* 侧边栏汉堡按钮样式 */
.hamburger-button {
    cursor: pointer; /* 鼠标指针变为手形 */
    z-index: 1000; /* 确保汉堡按钮在最上层 */
    margin-top: 21px; /* 增加上边距 */
    width: 100%; 
    border: none; /* 取消边框 */
    padding: 0;
}

.bar {
    display: flex;
    width: 100%;
    min-width: 16px;
    height: 2px;
    background-color: white;
    margin: 3px 0px 3px 0px;
}

.sidebar nav ul {
    padding: 0; /* 去掉默认内边距 */
}

.sidebar nav ul li {
    margin: 10px 0; /* 列表项之间的垂直间距 */
    list-style-type: none; /* 去除 li 前面的圆点 */
}
/* 侧边栏内标题和链接的样式 */
.sidebar nav ul li a {
    color: #ffffff; /* 文字颜色为白色 */
    cursor: pointer; /* 鼠标悬停时变为手形光标 */
    text-decoration: none; /* 去掉链接的下划线 */
}


/* 页眉样式 */
.header {
    display: flex; /* 使用 Flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
    height: 42px;
}

/* 页眉 标题样式 */
.header h1 {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, black 60%, gold 40%);
    -webkit-background-clip: text;
    color: transparent;
    flex-grow: 1;
}

/* 页眉中图像的样式 */
.header-logo {
    width: 42px;
}

/* 游戏内容区域样式 */
.game-area {
    display: flex; /* 使用flex布局 */
}

/* 按钮区域样式 */
.buttons-area {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

/* 动作图片区域样式 */
.image-area {
    display: flex; /* 使用flex布局 */
    align-items: center; /* 垂直居中内容 */
    position: relative; /* 相对定位，以便定位图像导航箭头 */
    width: 50%; /* 占父容器宽度的50% */
    width: 300px;
    height: 100%; /* 确保容器高度占满父容器 */
    height: 300px;
    overflow: hidden; /* 隐藏超出部分 */
}

.image-area img {
    max-width: 100%; /* 限制图片宽度不超过容器宽度 */
    max-height: 100%; /* 限制图片高度不超过容器高度 */
    object-fit: cover; /* 图片保持比例缩放，覆盖整个容器 */
}

/* 上一张图片控制按钮样式 */
#prevImage {
    position: absolute; /* 绝对定位 */
    left: 10px; /* 距离左边10px */
}

/* 下一张图片控制按钮样式 */
#nextImage {
    position: absolute; /* 绝对定位 */
    right: 10px; /* 距离右边10px */
}

/* 聊天框样式 */
.chat-area {
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 垂直排列聊天内容 */
    height:calc(155px + 36px + 6px);
}

/* 聊天消息样式 */
.user-message {
    text-align: right; /* 用户消息右对齐 */
    color: blue; /* 用户消息的颜色 */
}

.bot-message {
    text-align: left; /* 机器人的消息左对齐 */
    color: green; /* 机器人的消息颜色 */
}

/* 聊天消息区域样式 */
.chat-messages {
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 垂直排列消息 */ 
    overflow-y: auto; /* 允许垂直滚动 */
}

/* 输入框和发送按钮区域样式 */
.chatbox {
    display: flex; /* 使用flex布局 */
}

/* 输入框样式 */
.chatbox input {
    flex-grow: 1; 
}
